*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'IBM Plex Mono';
    text-align: center;
    color: white;
}

body{
    background: #363940;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data{
    margin: 20px 0px;
    background: #44474e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    gap: 8px;
}

.cont-geral{
    background: #44474e;
    width: 50%;
    padding: 0px 0px 20px 0px;
}

#cont-input-1{
    background: #ff817e;
    display: inline-block;
    padding: 12px;
    margin-right: 2px;
}

#cont-input-2{
    background: #3fb73d;
    display: inline-block;
    padding: 12px;
}

#cont-input-3{
    background: #515aab;
    display: inline-block;
    margin-left: 2px;
    padding: 12px;
}

#cont-inputs{
    margin-top: 40px;
}

#mostraRes{
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 50%;
    margin: 20px auto 40px auto;
}

footer{
    font-size: 14px;
    margin-top: 2rem;
}

@media screen and (max-width: 900px) {
    .data{
        width: 80%;
    }
    .cont-geral{
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .data{
        width: 90%;
    }
    .cont-geral{
        width: 90%;
    }
}